<H1>List of Automated Test Cases</H1>
<table border="2" colspan="2">
<th>TestID</th><th>Service</th><th>TestMethod</th><th>Summary</th><th>Environment</th><th>TestType</th><th>Arguments</th>
            {% for t in table %}
                <tr>
                   <td>{{ t[0] }}</td>
                   <td>{{ t[1] }}</td>
                   <td>{{ t[2] }}</td>
                   <td>{{ t[3] }}</td>
                   <td>{{ t[4] }}</td>
                   <td>{{ t[5] }}</td>
				   <td>{{ t[6] }}</td>
                </tr>
            {% endfor %}
             </table>